body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

<!-- Updated: 2024-04-08T14:04:00.312077 -->

<!-- Updated: 2024-04-24T14:52:00.312077 -->

<!-- Updated: 2024-10-15T15:40:00.312077 -->
