.ChatPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.ChatPage-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.ChatPage-avatar {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  background-color: #ccc;
  border-radius: 50%;
}

.ChatPage-title {
  font-size: 1.5rem;
  margin: 0;
}

.leave{
  background-color: red;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

<!-- Updated: 2024-03-13T18:11:00.312077 -->

<!-- Updated: 2024-04-08T18:00:00.312077 -->

<!-- Updated: 2024-05-06T16:52:00.312077 -->

<!-- Updated: 2024-05-14T09:58:00.312077 -->

<!-- Updated: 2024-05-28T18:05:00.312077 -->

<!-- Updated: 2024-09-21T14:15:00.312077 -->

<!-- Updated: 2024-09-21T15:59:00.312077 -->
