.MessageList {
  flex: 1;
  overflow-y: scroll;
  padding: 1rem;
  margin-top: 10px;
  background-image: url("../images/bg.jpeg");
}

.Message {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  color: black;
  background-color: white;
  align-self: flex-end; /* align to right */
}

.Message-content {
  font-size: 1rem;
}

.Message-author {
  font-size: 0.8rem;
  font-style: italic;
}
.highlight {
  background-color: red;
  padding: 10px;
}

<!-- Updated: 2024-06-11T09:04:00.312077 -->

<!-- Updated: 2024-07-18T15:57:00.312077 -->

<!-- Updated: 2024-09-13T15:11:00.312077 -->

<!-- Updated: 2024-10-10T14:02:00.312077 -->
